@page
@model DownloadModel
@{
    ViewData["Title"] = "Download";
}



<p>
    Click the botton below to down load the MLE Prototype client application
</p>

<p>
    Current version: 1.0
</p>
<p>
    Requires 64-bit Windows 10
</p>

<a href = "DownloadableFiles/MLE.txt" download="MLE.exe">Download</a>
