@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<style>
    #Name{
        font-size: 150px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        border-bottom: 0px;
    }
</style>

<style>
    #DNA { 
        height:auto; 
        width:35%; 
        background-color:white;
        align=left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        padding: 0px;
    } 
</style>

<div class="text-center">
    <p id="Name">M L E</p>
    <h1 class="display-4" style="padding-top:0px;">Machine Learning with Encryption</h1>
    <p  style="padding:0px;">Enabling remote private predictive genomic analysis.</p>
</div>


<img id="DNA" src="images/dna.svg" />